/*-----Global Mods-----*/
body{
    margin: 0;
    padding: 0;
}

h1, h2{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 8vw;
}
/*----Class Mods-----*/
.my-name-hdr {
    font-size: 4vw;
    padding: .2% 1% .2% 5.5%;
    color: rgb(48, 48, 48);
    background-color: #7ebdb7;
    border-radius: 15%;
}

.profile-section{
    position: absolute;
}

.profile-picture{
    position: relative;
    height: 12vw;
    width: 10vw;
    border: solid .5vw rgb(48, 48, 48);
    border-radius: 15%;
    top: 3vw;
    left: 10vw;
}

.hdr-section {
    height: 6.7vw;
    display: flex;
    background-color: rgb(48, 48, 48);
    /*flex rules*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hdr-banner-img{
    position: absolute;
    width: 100%;
    height: 18vw;
    margin-bottom: -6vw;
}

.hdr-nav-list {
    font-size: 2vw;
    margin-right: 3vw;
    width: 38%;
    display: flex;
    list-style-type: none;
     /*flex rules*/
    justify-content: space-evenly;
}

.subtitle-container {
    display: flex; 
    justify-content: end;
    margin: 0 0 5vw;
}

.subtitle {
    display: flex;
    font-size: 3vw;
    color: rgb(48, 48, 48);
    background-color: #7ebdb7;
    margin: 0 3vw 2vw 67%;
    position: relative;
    padding: .3vw .75vw;
    border-radius: 15%;
}  

.section-container{
    display: flex;
    margin: 2vw 0;
    color: rgb(48, 48, 48);
}

.main-section-content{
    display: flex;
    flex-wrap: wrap;
    border-left: .3vw solid #303030;
    width: 80%;
    /*--flex rules--*/
    flex-direction: column;
}


.main-section-hdr{
    display: flex;
    font-size: 3vw;
    width: 20%;
    margin: 0 1vw 0 0;
    /*--flex rules--*/
    flex-direction: column;
    align-items: end;
}

.main-large-img img{
    height: 62vw;
    width: 62vw;
    margin: 0 0 0 2.5vw;
    border: .3vw solid rgb(48, 48, 48);  
    filter: grayscale(70%); 
    transition: .3s filter linear;
}

.main-large-img img:hover{
    transition: .3s filter linear;
    filter: grayscale(0%);
}

.main-small-container {  
    margin: 0 0 0 2.5vw;
    display: flex;
    /*--flex rules--*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-small-container img{
    height: 15vw;
    width: 30vw;
    margin: 1vw 0;
    border: .3vw solid rgb(21, 142, 182); 
    filter: grayscale(70%); 
    transition: .3s filter linear;
}

.main-small-container img:hover{
    transition: .3s filter linear;
    filter: grayscale(0%) blur(0px);
}

.contact-me-section{
    color: #303030;
    width: 80%;
    border-left: .3vw solid #303030;
}
.contact-me-list{
    position: relative;
    top: 4vw;
    margin: 0 0 0 2.5vw;
    padding: 0;
    display: flex;
    font-size: 2vw;
    list-style-type: none;
    color: #eb127752;    
    justify-content: space-between;
}
/*-----Specific Mods-----*/
.hdr-nav-list li a{
    color: #7ebdb7;
    text-decoration: none;
    padding: 0 .6vw .5vw;
    border-bottom: 4px  solid #7ebdb7;   
}

.contact-me-list a{
    color: #303030;
    padding: 0 .6vw .5vw;
    text-decoration: none;
    border-bottom: 4px  solid #303030;   
}

.main-section-content p{
    font-size: 1.5vw;
    margin: 1vw 0 1vw 2.5vw;
}

